@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.hero-banner{
    background-image: url(../images/homePage.png);
    background-size: cover;
    background-position: center center;
    height: 530px;
    background-repeat: no-repeat;
    transform: skew(0deg, 0deg);
    margin-top: -40px;
    position: relative;

  
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
    }
    .MuiContainer-root{
        position: relative;
        .hero-banner-inner{
            padding: 160px 0px 60px;
        }
    
        .border-line{
        &::after{
            content: "";
            background-image: url(../images/banner-line.png);
            background-repeat: no-repeat;
            position: absolute;
            height: 200px;
            width: 230px;
            top: 40px;
            left:0;
            background-size: 100%;
        }
        }
        
        .banner-text{
        max-width: 645px;
        margin: 0 auto;
        h2{
            font-size: 48px;
            line-height: 56px;
            color: #fff;
            font-weight: 700;
            margin: 0px;
        }
        p{
            color: #fff;
            font-size:18px;
            line-height: 24px;
            margin: 0px;
        }
        .explore-btn{
            background-color: #fff;
            padding: 12px 25px;
            color: #990000;
            font-size: 18px;
            line-height: 26px;
            border-radius: 25px;
            text-transform: capitalize;
            max-width: 161px;
            display: block;
            margin: 0 auto;
            margin-top: 70px;
            border:1px solid #fff;
            transition: all 0.3s ease 0s;
            &:hover{
                background-color: #990000;
                color: #fff;
                color: #fff;

            }
        }
        }

    }

   
  }
  .how-it-works-section{
      padding: 110px 0px 140px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        background-image: url(../images/left-dot.png);
        background-repeat: no-repeat;
        width: 240px;
        height: 140px;
        position: absolute;
        left: 0px;
        top: 8%;
    }
    .MuiGrid-item{
        img{
            width: 100%;
        }
    }

      h2{
          text-align: center;
          margin-bottom: 75px;
          font-size: 48px;
          line-height: 56px;
          color: #181818;
          
      }
      .top-polygone{
          img{
              position: absolute;
              right: 0px;
              top: 0px;
          }
      }
      .bottom-polygone{
        img{
            position: absolute;
            left: 0px;
            bottom: 0px;
        }
    }
      .how-it-work-text-info{
          position: relative;
          h3{
            font-size: 42px;
            line-height: 49px;
            color: #000000;
            font-weight: 700;
            margin: 0px;
            display: flex;
            align-items: center;
            
            span{
                background-color: #C11E37;
                height: 46px;
                width: 46px;
                border-radius: 50%;
                font-size: 24px;
                font-weight: normal;
                display: inline-block;
                color: #fff;
                text-align: center;
                margin-right: 18px;
            }
            
            
          }
          p{
            color: #666;
            font-size: 18px;
            line-height: 26px;
            margin: 24px 0px 0px 0px;
        }
        .register-polygon{
            right: 10px;
            position: absolute;
           
        }
        .observe-polygon{
            right: 0px;
            height: 130px;
            width: 130px;
            position: absolute;
            
        }
        .share-polygon{
            left: -72%;
            width: 100px;
            height: 100px;
            position: absolute;
            top: -90px;
        }
        .engage-polygon{
            right: 70px;
            height: 100px;
            width: 100px;
            bottom: -200px;
            position: absolute; 
        }
        .common-btn{
            background-color: #fff;
            border: 1px solid #990000;
            padding: 10px 25px;
            border-radius: 25px;
            color: #990000;
            font-size: 16px;
            line-height: 24px;
            margin-top: 20px;
            font-weight: 500;
            text-transform: capitalize;
            &:hover{
                background-color: #990000;
                color: #fff;

            }
        }
      }
  }