@import "../global/config.scss";

.advanced-filter{
    background: #FFFFFF;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.03), inset -1px 0px 0px #E0E3E8;
    padding: 18px 16px;
    max-width: 255px;
    width: 100%;
    margin-right: 60px;
    position: sticky;
    left: 0;
    top: 142px;
    right: 0;
    width: 100%;
    height: calc(100vh - 142px);
    overflow: hidden;
    overflow-y: auto;
    @include customScrollBar;
    @include media-breakpoint-down(xl){
        margin-right: 30px;
        max-width: 200px;
    }
    @include media-breakpoint-down(lg){
        top: 198px;
    }
    @include media-breakpoint-down(md){
        background-color: $white;
        display: flex !important;
        flex-basis: auto;
        left: 0;
        right: 0;
        top: 0;
        position: fixed;
        height: 100vh !important;
        z-index: 999;
        overflow-y: auto;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        transform: translateX(0);
        transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
    }
    .form-label{
        @include md-text;
        margin-bottom: 5px !important;
    }
    .form-control,
    .form-select{
        @include md-text;
        padding: 6px 10px;
    }
    .collapse-btn{
        @include sm-text;
        color: $grey;
        &.open{
            svg{
                transform: rotate(-180deg);
                transition: $transition;
            }
        }
        svg{
            transition: $transition;
            width: 20px;
            height: 20px;
        }
    }
    .date-time_row{
        background: $input-bg;
        border-radius: $border-radius;
        .date-box{
            width: 60%;
        }
        .time-box{
            width: 40%;
        }
        input[type="date"]{
            padding-left: 33px;
            position: relative;
            &::-webkit-calendar-picker-indicator{
                position: absolute;
                top: 4px;
                left: -18px;
                width: 20px;
                height: 22px;
                button{
                    border: none;
                    background: transparent;
                }
            }
        }
        input[type="time"]{
            padding-left: 33px;
            &::-webkit-calendar-picker-indicator{
                position: absolute;
                top: 4px;
                left: -5px;
                width: 20px;
                height: 22px;
                button{
                    border: none;
                    background: transparent;
                }
            }
        }
    }
}