@import "../global/config.scss";

.advanced-filter{
    background: #FFFFFF;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.03), inset -1px 0px 0px #E0E3E8;
    padding: 18px 16px;
    max-width: 255px;
    width: 100%;
    margin-right: 60px;
    position: sticky;
    left: 0;
    top: 130px;
    right: 0;
    width: 100%;
    height: 100%;
    .form-label{
        @include md-text;
        margin-bottom: 5px !important;
    }
    .form-control,
    .form-select{
        @include md-text;
        padding: 6px 10px;
    }
    .collapse-btn{
        @include sm-text;
        color: $grey;
        &.open{
            svg{
                transform: rotate(-180deg);
                transition: $transition;
            }
        }
        svg{
            transition: $transition;
            width: 20px;
            height: 20px;
        }
    }
    .date-time_row{
        background: $input-bg;
        border-radius: $border-radius;
        input{
            &:first-child{
                width: 60%;
            }
            &:last-child{
                width: 40%;
            }
        }
    }
}