@import "../global/config.scss";

.set-dash-content {
  display: flex;
  width: 100%;
}

.dashboard-card {
  width: calc(100% - #{$filter-size});
  padding: 40px 0 40px 40px;
  z-index: -1 !important;

  &.sm-card {
    .photo-list {
      .photo-item {
        width: 25%;
        @include media-breakpoint-down(xxl) {
          width: 33%;
        }
        @include media-breakpoint-down(lg) {
          width: 50%;
        }
        @include media-breakpoint-down(md) {
          width: 50%;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }

  &.maximize-dash-content {
    width: 100%;
    padding: 40px 0;
  }
}

.filter-open {
  width: 100%;
  min-width: $filter-size;
  @include media-breakpoint-down(xl) {
    min-width: 210px;
  }

  span {
    color: $grey;
  }
}

.view-switch-wrap {
  .btn-secondary {
    color: $black;
    font-size: 22px;
  }
}

.observation-dashboard_content {
  margin-top: -25px;
}

