@import "../global/config.scss";

.dashboard-card{
    flex: 1 1 auto;
    padding-top: 50px;
}
.filter-open{
    min-width: 255px;
    span{
        color: $grey;
    }
}
.view-switch-wrap{
    .btn-secondary{
        color: $black;
        font-size: 22px;
    }
}
.observation-dashboard_content {
    margin-top: -25px;
}