@import "../global/config.scss";
.hero-banner{
    background-image: url(../../images/homePage.png);
    background-size: cover;
    background-position: center center;
    height: 530px;
    background-repeat: no-repeat;
    transform: skew(0deg, 0deg);
    margin-top: -40px;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white;
        clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
      }
      .container{
        position: relative;
      }
      .hero-banner-inner{
        padding: 160px 0px 60px;
        @media(max-width:480px){
            padding: 120px 0px 60px;
        }
        .border-line{
            &::after{
                content: "";
                background-image: url(../../images/banner-line.png);
                background-repeat: no-repeat;
                position: absolute;
                height: 200px;
                width: 230px;
                top: 40px;
                left:0;
                background-size: 100%;
            }
    }
    .banner-text{
        max-width: 645px;
        margin: 0 auto;
        h2{
            // font-size: 48px;
            // line-height: 56px;
            @include xl-title;
            color: $white;
            font-weight: 700;
            margin: 0px;
            
            @media(max-width:1023px){
                // font-size: 36px;
                // line-height: 40px;
            }
        }
        p{
            @include xl-text;
            color: $white;
            // font-size:18px;
            // line-height: 24px;
            margin: 20px 0px 0px 0px;
            @media(max-width:1023px){
                // font-size: 15px;
            }
        }
        .explore-btn{
            background-color:$white;
            padding: 12px 25px;
            color: $secondary;
            // font-size: 18px;
            // line-height: 26px;
            @include xl-text;
            text-transform: capitalize;
            max-width: 161px;
            display: block;
            margin: 0 auto;
            margin-top: 70px;
            border:1px solid $white;
            transition: all 0.3s ease 0s;
            font-weight: 600;
            @media(max-width:1023px){
                margin-top: 40px;
            }
            &:hover{
                background-color: $secondary;
                color: $white;
                border: 1px solid $secondary;

            }
        }
        }

    }
  }

.counter-main{
    padding-bottom: 270px;
    @media (max-width: 1200px){
        padding-bottom: 170px;
    }
    .counter-inner{
      display: flex;
      padding-top: 25px;
      .left-image{
          img{
              max-width: 48px;
          }
      }
      .right-counter{
          margin-left: 20px;
          h3{
              margin: 0px;
              font-weight: 900;
            //   font-size: 42px;
            //   line-height: 49px;
              @include lg-title;
              @media(max-width:1023px){
                //   font-size: 32px;
                //   line-height: 35px;
              }
          }
          p{
              @include lg-text;
            //   font-size: 16px;
            //   line-height: 26px;
              margin: 0px;
              color: #555555;
              @media(max-width:1023px){
                // font-size: 14px;
            }
          }
      }
    }
}
.how-it-works-section{
    padding: 110px 0px 140px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-image: url(../../images/left-dot.png);
      background-repeat: no-repeat;
      width: 240px;
      height: 140px;
      position: absolute;
      left: 0px;
      top: 8%;
      @media(max-width:1023px){
          width: 140px;
          height: 80px;
          background-size: 100%;
      }
    }
    img{
        z-index: -1;
        position: relative;
    }
    .shadow-lg{
        img{
            z-index: 1;
        }
    }
    h2{
        text-align: center;
        margin-bottom: 75px;
        // font-size: 48px;
        // line-height: 56px;
        font-weight: bold;
        @include xl-title;
        color: #181818;
        @media(max-width:1023px){
            // font-size: 36px;
            // line-height: 40px;
        }
      
        
    }
    .top-polygone{
        img{
            position: absolute;
            right: 0px;
            top: 0px;
            @media(max-width:1150px){
                width: 40%;
            }
        }
    }
    .bottom-polygone{
      img{
          position: absolute;
          left: 0px;
          bottom: 0px;
          @media(max-width:1450px){
              width: 40%;
              z-index: -9;
          }
      }
    }
    .works-gap{
        margin-bottom: 90px;
        @media(max-width:1023px){
            margin-bottom: 35px;
        }
    }
    .how-it-work-text-info{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
        //   font-size: 42px;
        //   line-height: 49px;
          @include lg-title;
          color: #000000;
          font-weight: 700;
          margin: 0px;
          display: flex;
          align-items: center;
          @media(max-width:1023px){
            //   font-size: 30px;
            //   line-height: 35px;
          }
          
          span{
              background-color: #C11E37;
              height: 46px;
              width: 46px;
              border-radius: 50%;
              @include vcenter;
            //   font-size: 24px;
              @include sm-title;
              font-weight: normal;
              color: #fff;
              text-align: center;
              margin-right: 18px;
              @media(max-width:1023px){
                height: 35px;
                width: 35px;
                // font-size: 16px;
                margin-right: 10px;
            }
          }
          
        }
        p{
          color: #666;
        //   font-size: 18px;
        //   line-height: 26px;
          @include xl-text;
          margin: 24px 0px 0px 0px;
          @media(max-width:1023px){
            //   font-size: 15px;
            //   margin-top: 15px;
          }
      }
      .register-polygon{
          right: 20%;
          bottom: 5%;
          position: absolute;
          @media(max-width:991px){
              display: none;
          }
         
      }
      .observe-polygon{
          right: 0px;
          bottom: 0px;
          height: 130px;
          width: 130px;
          position: absolute;
          @media(max-width:991px){
            display: none;
        }
          
      }
      .share-polygon{
          left: -50%;
          width: 100px;
          height: 100px;
          position: absolute;
          top: -90px;
          @media(max-width:1820px){
            left: -40%;
          }
          @media(max-width:1700px){
            left: -30%;
          }
          @media(max-width:1600px){
            left: -18%;
          }
          @media(max-width:1500px){
            left: -17%;
          }
          @media(max-width:1380px){
            left: -26%;
          }
          @media(max-width:1280px){
            left: -15%;
          }
          
          @media(max-width:991px){
            display: none;
         }
      }
      .engage-polygon{
        right: 50%;
        height: 100px;
        width: 100px;
        bottom: -35px;
        position: absolute;
        @media(max-width:991px){
            display: none;
        }
      }
      .view-tutorial{
          margin-top: 24px;
          padding: 11px 26px;
          background-color: transparent;
          color: $secondary;
          @include lg-text;
          font-weight: 500;
          max-width: fit-content;
          border-radius: 99px;
          &:hover{
              background-color: $secondary;
              color: $white;
          }
      }
    }
}

// Map section css start 
.map_section{
    position: relative;
    .map_inner{
        // padding-top: 3%;
        background: url("../../images/map.png") no-repeat center;
        background-size: contain;
        height: 690px;
        @media (max-width: 1200px){
            height: 400px;
        }
        @media (max-width: 767px){
            height: auto;
            padding: 0 0;
        }
    }
    img{
        width: 100%;
    }
    &::before{
        content: "";
        display: block;
        background: $black;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -9.5%;
        -webkit-clip-path: polygon(0 0, 100% 9%, 100% 10%, 0 10%);
        clip-path: polygon(0 0, 100% 9%, 100% 10%, 0 10%);
        z-index: 10;
        // @media (max-width: 1200px){
        //     top: -38px;
        // }
        // @media (max-width: 767px){
        //     top: -55px;
        // }
    }
    &::after{
        content: "";
        display: block;
        background: $black;
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(0 92%, 100% 92%, 100% 100%, 0 93%);
        clip-path: polygon(0 92%, 100% 92%, 100% 100%, 0 93%);
        position: absolute;
        bottom: -7.5%;
        left: 0;
        right: 0;
        z-index: 10;
        // @media (max-width: 1200px){
        //     bottom: -30px;
        // }
        // @media (max-width: 767px){
        //     bottom: -42px;
        // }
    }
}
.obervation-card_wrapper{
    position: relative;
    top: -210px;
    left: 0;
    right: 0;
    z-index: 11;
    @media (max-width: 1200px){
        top: -150px;
    }
    @media (max-width: 767px){
        top: -90px;
    }
    .observation_card{
        .card-img-top{
            height: 180px;
            object-fit: cover;
            object-position: bottom;
            @media (max-width: 991px){
                height: 120px;
            }
            @media (max-width: 767px){
                height: 160px;
            }
            @media (max-width: 474px){
                height: 100px;
            }
        }
    }
}
// Map section css end 