@import "../global/config.scss";

.tutorial_page {
  .common-banner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.tutorial-main {
  padding: 60px 0px 80px;
  @media(max-width: 767px) {
    padding: 30px 0px 80px;
  }

  .card {
    .card-title {
      a {
        color: $dark;
      }
    }
  }

  h2 {
    @include lg-title;
    margin-bottom: 40px;
    color: $black;
    font-weight: 700;
  }

  h3 {
    margin: 20px 0px 10px;
    color: $black;
    font-weight: 700;
    @include mds-title;

  }

  p {
    color: $light-grey;
    @include lg-text;

  }
}