@import "../global/config.scss";
.upload-observation-form-main {
  img{
    width: 100%;
  }
  .upload-observation-form-inner {
    padding: 60px 0px 200px;
  }
  .observation-form-left-tab {
    max-width: 180px;
    width: 100%;
    .nav-tabs {
      border-bottom: none;
      .nav-item {
        .nav-link {
          background-color: #fdf2f4;
          border-radius: 6px;
          @include lg-text;
          font-weight: 700;
          color: $black;
          padding: 10px 10px;
          margin-bottom: 30px;
          border: 1px solid #fdf2f4;
          cursor: pointer;
          &:hover,
          &.active {
            color: $secondary;
          }
        }
      }
    }
  }
  // .observation-form-right-tab {
    .upload-observation-main {
      padding: 0px;
      .upload-ob-inner{
          max-width: 900px;
          width: 100%;
          min-height: 305px;
          display: none;
        .upload-info {
            p {
              margin-bottom: 0px;
            }
            span {
              color: $black;
              @include md-text;
              opacity: 0.6;
            }
            ul {
              margin-top: 80px;
              li {
                color: $black;
                @include md-text;
                opacity: 0.6;
              }
            }
          }
      }
      
    }
    .cnt-btn{
        @include btn-bg;
        background-color: #E2E4E9;
        color: #fff;
        margin-top: 60px;
    }

  // }
  .upload-multiple-observation{
    .inputGroup {
      background-color: #fff;
      display: block;
      margin: 10px 0;
      position: relative;
      label {
        padding: 12px 30px;
        width: 100%;
        display:flex;
        align-items: center;
        text-align: left;
        color: $black;
        @include lg-text;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
        border:1px solid #CBCFD8;
        border-radius: 6px;
        
        img{
          margin-right: 10px;
          width: 25px;
          height: 25px;
          object-fit: contain;
        }
        &:after {
          width: 22px;
          height: 22px;
          content: '';
          border: 1px solid #ADB4C2;
          background-color: #fff;
          background-image: url("../../images/check-white.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 14px;
          border-radius: 50%;
          z-index: 2;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          transition: all 200ms ease-in;
        }
      }
  
      input:checked ~ label {
        color: $black;
        border:1px solid $secondary;
        background: $lightPink;
        box-shadow: 0px 4px 8px rgba(193, 30, 55, 0.12);
        &:before {
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
          opacity: 1;
        }
  
        &:after {
          background-color: #990000;
          border-color: #990000;
        }
      }
      input {
        width: 22px;
        height: 22px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
      }
    }
    .observation-image{
      max-width: 100%;
      background-color: #F6F7F8;
      height: 305px;
      border-radius: 6px; 
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
      img{
        max-height: 305px;
        width: auto;
      }
      .btn{
        right: 25px;
        top: 25px;
        font-size: 24px;
      }
    }
    

    
  }
}
.common-top-button-wrapper {
  background-color: #f6f7f8;
  padding: 11px 0px;
  top:60px;
  position: sticky;
  z-index: 9999;
  margin-bottom: 60px;
  .common-top-button-wrapper-inner {
    display: flex;
    justify-content: space-between;
    .btn {
      @include grayButton;
      margin-right: 15px;
      padding: 9px 34px;
      @include md-text;
      &.disabled{
        @include disabled;
      }
    }
    .top-right-btn{
      .btn{
        padding: 9px 20px;
        min-width: 137px;
      }
    }
  }
}
