@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Importing variables & Bootstrap functions & utilities
@import "../global/config";

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
  font-family: $FontFamily;
  background-color: $white;
}
input.form-control::-webkit-input-placeholder, input::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { 
  color: #000;
  opacity: 0.32;
}

// input.form-control:-ms-input-placeholder { 
input.form-control:-ms-input-placeholder, input:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { 
  color: #000;
  opacity: 0.32;
}

// input.form-control::placeholder {
input.form-control::placeholder, input::placeholder, textarea.form-control::placeholder { 
  color: #000; 
  opacity: 0.32;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px $input-bg inset;
  transition: background-color 5000s ease-in-out 0s;
}
::selection{
  color: #fff;
  background-color: #9900004a;
}
body.modal-open {
  padding-right: 0 !important;
}
.pointer {
  cursor: pointer!important;
}

.btn{
  border-radius: 99px;
  &.disabled{
    @include disabled;
  }
}

.form-control, .form-select{
  @include formField;
  @include lg-text;
  &:focus{
    border-color: transparent;
    box-shadow: none;
  }
}
.counter {
  font-size: 35px;
  font-weight: $font-weight-bolder;
}
.required{
  background: linear-gradient(128.5deg, #C01E37 0%, #F052C1 154.21%);
  border-radius: 2px;
  padding: 1.5px 2px 0.5px 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: $white;
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 0;
}
.main-content {
  margin-top: 70px;
  @include media-breakpoint-down(md)  {
    margin-top: 64px;
  }
}

.btn-secondary{
  @include buttonSecodary;
}
.btn-outline-secondary{
  @include buttonOutlineSecodary;
}
.gray-outline-btn{
  @include grayButton;
}
.map-search-container {
  padding: 20px;
  position: relative;
}
// Import any component file here

.setplaceholdersize {
  input::placeholder {
    font-size: 16px;
  }
}

@import "../component/index.scss";
